node_modules
.next
*.gz
.next/static/chunks/webpack.js
.next/static/chunks/app/page.js
.next/static/chunks/app/layout.js
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app-paths-manifest.json
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/app-build-manifest.json
